<!-- <mat-toolbar color="primary">
 
    <span><mat-icon>eco</mat-icon>Oumaima </span>
    <div class="spacer"></div>
    <a mat-button routerLink="texttest">NLP </a>
    <a mat-button routerLink="nltk">Detection</a>
    <a mat-button routerLink="news">News Covid </a>
    <a mat-button routerLink="aboutus">About us  </a>
  </mat-toolbar>
 -->


  <nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#">

              <img style="width:100px; height: 60px;" src="https://image.flaticon.com/icons/png/512/2785/2785819.png" alt="">
            </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li> <a routerLink="texttest">NLP </a></li>
                <li><a routerLink="nltk">Detection</a></li>
                <li><a routerLink="news">News Covid </a></li>
                <li><a  routerLink="aboutus">About us  </a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

<section class="home">
</section>
<div style="height: 1px">
    <!-- just to make scrolling effect possible -->

</div>

<!-- Jquery needed -->


<!-- Function used to shrink nav bar removing paddings and adding black background -->


